html,
body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: #282828;
    color:      #DD66FF;
    font-family: Monospace;
}
button{
    height: 100%;
    width: 100%;
    background: #242424;
    color:      #DD66FF;
    font-size: 24px;
}
a{
    text-decoration: none;
}

#main-wrapper{
    display:flex;
    flex-flow: column;
    height: 100%;
}

.flex-row,
.flex-column{
    flex: 1 1 auto;
}
