*{
    overflow: hidden;
    padding: 0;
    margin: 0;
}
html,
body{
    height: 100%;
}
button{
    height: 100%;
    width: 100%;
    font-size: 24px;
}
img{
    max-width: 100%;
    max-height:100%;
    margin-left:auto;
    margin-right:auto;
    display:block;
    float: center;
}


#main-wrapper{
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}
