html,
body{
    height: 100%;
    margin: 0;
    background: #282828;
    color:      #DD66FF;
    font-family: Monospace;
}
button{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #242424;
    color:      #DD66FF;
    font-size: 24px;
}
a{
    text-decoration: none;
}

#main-wrapper{
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}
