*{
    padding: 0;
    margin: 0;
}
html,
body{
    height: 100%;
}
button{
    height: 100%;
    width: 100%;
    font-size: 24px;
}
a{
    text-decoration: none;
}

#main-wrapper{
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}
