p{
    font-size: 20px;
}
#entry-wrapper{
    display:    grid;
    grid-template-columns: 20% 80%;
}
#entry-list{
    padding: 2%;
}
#entry-list *{
    padding: 2%;
    font-size: 18px; 
}
#entries{
    padding: 0%;
    overflow-y: scroll;
}

.entry-breaker{
    text-align: center;
    font-size:  24px;
    padding:    5%;
}
.entry-wpicture{
    display:    grid;
    grid-template-columns:  25% 75%;
}
.entry-title{
    text-align:     center;
    grid-column:    1 / span 2;
    padding:        1%;
}
.entry-img-wrapper{
    display:    grid;
    grid-template-rows:     90% 10%;
    grid-template-columns:  50% 50%;
    padding:    5%;
}
.entry-img-wrapper .img-wrapper{
    grid-column: 1 / span 2;
    height:     100%;
    padding:    0%;
}

.entry-bt-prev{
    grid-column: 1;
    grid-row: 2;
}
.entry-bt-next{
    grid-column: 2;
    grid-row: 2;
}

.text-wrapper,#entry-list{
    padding: 2%;
    width: 96%;
    max-height: 96%;
    overflow-y: scroll;
}
#entry-list{
    overflow-y: scroll;
}


@media (max-width: 767px){
    p, button{
        font-size: 14px;
    }
    #entry-wrapper{
        grid-template-columns: 100%;
        grid-template-rows: 90% 10%;
    }
    #entries{
        grid-row: 1;
    }
    #entry-list{
        grid-row: 2;
    }

    .entry-wpicture{
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
    }
    .text-wrapper{
        min-height: 10%;
        min-width: 100%;
        grid-row: 3;
    }
    .img-wrapper{
        max-height: 100%;
        max-width: 100%;
    }
}
