#panes{
    display: flex;
    flex-flow: row wrap;
}
#left-pane{
    background: #202020;
    padding: 0px;
    width: 25%;
}
#center-pane{
    background: #181818;
    padding: 0px;
    width: 50%;

}
#picture-pane{
    height: 90%;
}
#picture-controls-pane{
    height: 10%;
}

#right-pane{
    background: #222222;
    padding: 0px;
    max-width: 25%;
    width: 25%;
}
