#panes{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    min-height: 0;
}
#left-pane{
    font-size: 20px;
    height:100%;
    min-height: 0;
}
#picture-description{
    padding-left: 5%;
    padding-right: 5%;
    overflow-y: scroll;
    height:100%;
}
#picture-settings{
}
#center-pane{
    display: grid;
    grid-template-rows: 90% 10%;
    min-height: 0;
}
#picture-pane{
}
#picture-pane img{
    max-width: 100%;
    max-height:100%;
    margin-left:auto;
    margin-right:auto;
    display:block;
    float: center;
}
#picture-controls-pane{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    min-width: 0;
}

#right-pane{
    font-size: 14px;
    max-height:100%;
    display: grid;
    grid-template-rows: repeat(10, 10%);
    min-height: 0;
}
.preview-button{
    width: 100%;
    height:100%;
    display: grid;
    grid-template-columns: 20% 80%;
    min-height: 0;
}
.preview-button div img{
    max-width: 100%;
    max-height:100%;
    margin-left:auto;
    margin-right:auto;
    display: block;
    float: center;
}
.preview-button span{
    font-size: 16px;
    text-align: left;
}
.preview-img-wrapper{
}

