#panes{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    min-height: 0;
}
#left-pane{
    font-size: 20px;
    display: grid;
    height:100%;
    grid-template-rows: 90% 10%;
    min-height: 0;
}
#left-pane a,
#left-pane h2{
    padding: 5%;
}
#picture-description{
    height:100%;
}
#picture-settings{
}
#center-pane{
    display: grid;
    grid-template-rows: 90% 10%;
    min-height: 0;
}
#picture-pane{
}
#picture-pane img{
    max-width: 100%;
    max-height:100%;
    margin-left:auto;
    margin-right:auto;
    display:block;
    float: center;
}
#picture-controls-pane{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    min-width: 0;
}
#picture-controls-pane button{
}

#right-pane{
    font-size: 14px;
    max-height:100%;
}
.preview-item{
}
.preview-item a{
}
