#header{
    flex: 0 1 auto;
    /*  flex-grow flex-shrink flex-basis*/
    text-align: center;
    font-size: 24px;

    display: grid;
    grid-template-columns: repeat(5, calc(100%/5));
}
#header button{
    padding: 5%;
}
