#header{
    flex: 0 1 auto;
    /*  flex-grow flex-shrink flex-basis*/
    text-align: center;
    font-size: 24px;

    display: flex;
    flex-flow: row wrap;
    position: relative;

    align-items: center;
    justify-content: center;
}
#header div{
    padding: 1%;
    flex: 0 1 20%;
    max-width: 98%;
    max-height: 98%;
}
