p{
    font-size: 20px;
}
#library-wrapper{
    display:    grid;
    grid-template-columns: 20% 80%;
}
#library-list{
    padding: 2%;
}
#library-list *{
    padding: 2%;
    font-size: 18px; 
}
#library-entries{
    padding: 0%;
    overflow-y: scroll;
 }
.library-breaker{
    text-align: center;
    font-size:  24px;
    padding:    5%;
}
.library-entry,
.library-entry-wpicture{
    flex: 1 0 auto;
    width:          100%;
    max-width:          100%;
    padding: 0%;
    grid-template-rows: auto auto;
}
.library-entry-wpicture{
    display:    grid;
    grid-template-columns:  25% 75%;
}
.library-entry-title{
    text-align:     center;
    grid-column:    1 / span 2;
    padding:        0;
}
.img-wrapper{
    padding:    5%;
}

.text-wrapper,#library-list{
    padding: 2%;
    height:     100%;
}
#library-list{
    overflow-y: scroll;
}
.text-wrapper{
    overflow-y: hidden;
}

@media (max-width: 767px){
    p, button{
        font-size: 14px;
    }
    #library-wrapper{
        grid-template-columns: 100%;
        grid-template-rows: 90% 10%;
    }
   #library-entries{
        grid-row: 1;
    }
    #library-list{
        grid-row: 2;
    }

    .library-entry-wpicture{
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
    }
    .text-wrapper{
        min-height: 10%;
        min-width: 100%;
        grid-row: 3;
    }
    .img-wrapper{
        max-height: 100%;
        max-width: 100%;
    }
}
