p{
    font-size: 20px;
}
#library-list{
    display:        flex;
    flex-direction: column;
    align-items:    center;
}
.library-entry,
.library-entry-wpicture{
    flex: 1 1 auto;
    border: 1px solid gray;
    width:          100%;
    max-height:     50%;
    padding: 1%;
    grid-template-rows: 10% 90%;
}
.library-entry-wpicture{
    display:    grid;
    grid-template-columns:  25% 75%;
}
.library-entry-title{
    text-align:     center;
    grid-column:    1 / span 2;
    padding:        0;
}
.text-wrapper{
    padding: 1%;
    overflow: auto;
}
