p{
    font-size: 20px;
}
#library-wrapper{
    display:    grid;
    grid-template-columns: 20% 80%;
}
#library-list{
    padding: 2%;
}
#library-list *{
    padding: 2%;
    font-size: 18px; 
}
#library-entries{
    overflow-y: scroll;
}
.library-breaker{
    text-align: center;
    font-size:  24px;
    padding:    5%;
}
.library-entry,
.library-entry-wpicture{
    flex: 0 1 auto;
    width:          100%;
    padding: 1%;
    grid-template-rows: auto auto;
}
.library-entry-wpicture{
    display:    grid;
    grid-template-columns:  25% 75%;
}
.library-entry-title{
    text-align:     center;
    grid-column:    1 / span 2;
    padding:        0;
}

.text-wrapper,#library-list{
    padding: 2%;
    overflow-y: scroll;
    height:     100%;
}
