html,
body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: #282828;
    font-family: Monospace;
}
a{
    text-decoration: none;
}

#main-wrapper{
    display:flex;
    flex-flow: column;
    height: 100%;
}
#main-wrapper .row{
    border: 1px solid #303030;
}
#main-wrapper .row#header{
    flex: 0 1 auto;
    /*  flex-grow flex-shrink flex-basis*/
    text-align: center;
    background: #222222;
    font-size: 24px;

    display: flex;
    flex-flow: row wrap;
    position: relative;

    align-items: center;
    justify-content: center;
}
#main-wrapper .row#header div{
    padding: 1%;
    flex: 0 1 calc(20%);
    border: 1px solid #303030;
}
#main-wrapper .row#header div a{
    color:      #DD66FF;
}
#main-wrapper .row.content{
    flex: 1 1 auto;
}
.flex-column{
    flex: 1 1 auto;
}
