body{
    margin: 0px;
    padding: 0px;
    background: #282828;
    font-family: Monospace;
}
a{
    text-decoration: none;
}

.header{
    width: 100%;
    text-align: center;
    background: #222222;
    font-size: 24px;

    display: flex;
    flex-flow: row wrap;
    position: relative;

    align-items: center;
    justify-content: center;
}
.header div{
    padding: 1%;
    flex: 0 1 calc(20%);
    border: 1px solid #303030;

}
.header div a{
    color:      #DD66FF;
}
