/*  Not sorry if anyone copyrighted this name. */
*{
    scrollbar-color: #DD66FF #282828;
}
body{
    background: #282828;
    color:      #FF99FF;
    font-family: Monospace;
}
button{
    background: #242424;
    color:      #DD66FF;
    font-family: Monospace;
}
a{
    text-decoration:none;
    color:      #DDDDFF;
}

#header{
    background: #222222;
    border: 1px solid #303030;
}
#header div{
    border: 1px solid #303030;
}

#left-pane{
    background: #1A1A1A;
}
#left-pane h2{
    color:      #DD66FF;
}
#left-pane span{
    color:      #DDAAFF;
}
#center-pane{
    background: #202020;
}
#picture-pane{
    background: #202020;
}
#right-pane{
    background: #1A1A1A;
    color:      #DDAAFF;
}

.preview-button span{
    border: 1px solid #444444;
    padding: 5%;
}


.library-entry,
.library-entry-wpicture,
.library-entry-title,
.workshop-entry,
.workshop-entry-wpicture,
.workshop-entry-title{
    background: #282828;
    border: 1px solid #444444;
}
#library-list,
#library-entries,
#workshop-list,
#workshop-entries{
    background: #1A1A1A;
    border: 1px solid #444444;
}
.library-breaker,
.workshop-breaker{
    background: #202020;
}
