/*  Not sorry if anyone copyrighted this name. */
*{
    scrollbar-color: #DD66FF #282828;
}
body{
    background: #282828;
    color:      #FFbbFF;
    font-family: Sans-serif;
}
button{
    background: #323232;
    color:      #DD88FF;
    font-family: Monospace;
}
button:hover{
    background: #3A3A3A;
}
a{
    text-decoration:none;
    color:      #DDDDFF;
}

#header{
    background: #222222;
    border: 1px solid #303030;
}
#header div{
    border: 1px solid #303030;
}

#left-pane{
    background: #1A1A1A;
}
#left-pane h2{
    color:      #DD66FF;
}
#left-pane span{
    color:      #DDAAFF;
}
#center-pane{
}
#picture-pane{
    background: #202020;
}
#right-pane{
    background: #1A1A1A;
    color:      #DDAAFF;
}

.preview-button span{
    border: 1px solid #444444;
    padding: 5%;
}


.entry,
.entry-wpicture,
.entry-title{
    border: 1px solid #444444;
}
.entry-title{
    background: #282828;
}
#entry-list,
#entries{
    background: #1A1A1A;
    border: 1px solid #444444;
}
.entry-breaker{
    background: #202020;
}

